/*---------------Color Variables---------------*/
$primary-color: #121315;
$text-color: #FFFFFF;
$watchBtn-color: #DD3D3A;

/*---------------Font Variables---------------*/
$navmenu-font: 'glasten';
$logo-font: 'SFPRODISPLAYMEDIUM', sans-serif;
$btn-font: 'Inter', sans-serif;
$hero-font: 'DxAlegant-ExtraLight';
$heroParagraph-font: 'AbhayaLibre-Regular';
$videoSection-font: 'dxrestcal-medium', sans-serif;
$slider-font: 'DxGrafik-SemiBold', sans-serif;
$createWebsite-font: 'NeueMetanaNext-SemiBold';
//Create Website Heading Font -- slider-font
$pinText-font: 'NeueMetanaNextOutline-Black', sans-serif;